<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Mishmar</title>
<link rel="stylesheet" href="mainStyle.css">
</head>
<body>

<section class="hero" id="home">
{% include nav %}

  <img class="hero-art" src="mishmar-background.png" alt="The Mishmar auditorium background">
  <div class="hero-content">
  
  <h1>The Mishmar</h1>

  <div class="hero-actions">
    <a href="signup.html" class="hero-action">SIGN UP</a>
    <a href="order-prizes.html" class="hero-action">ORDER PRIZES</a>
  </div>
</div>
  
</section>

<main>
  <section class="section intro" id="program">
    <h2>A Place to Learn. A Place to Grow.</h2>
    <p>
      Sunday–Thursday &nbsp;•&nbsp; 8:15–9:00 PM &nbsp;•&nbsp; Followed by Maariv
    </p>
    <div class="gold-line"></div>

    <div class="cards">
      <article class="card">
        <h3>Learning</h3>
        <p>An engaging evening learning program designed for 7th and 8th grade boys.</p>
      </article>
      <article class="card">
        <h3>Guest Speakers</h3>
        <p>Inspiring speakers, special guests, snacks and prizes throughout the program.</p>
      </article>
      <article class="card">
        <h3>Community</h3>
        <p>A consistent place for boys to come together, learn and finish the evening with Maariv.</p>
      </article>
      
    </div>
  </section>

  <section class="section" id="details">
    <div class="details">
      <div class="detail">
        <div class="label">Locations </div>
        <div class="value">Flatbush <br>Marine Park <br>Kensington  <br>Monsey <br>Staten Island </div>
      </div>
      <div class="detail">
        <div class="label">Schedule</div>
        <div class="value">Sunday – Thursday<br>8:15 – 9:00 PM<br> Followed by Mariv</div>
      </div>
      <div class="detail">
        <div class="label">Program Director</div>
        <div class="value">R’ Sruly Possick</div>
      </div>
      <div class="detail">
        <div class="label">Administrators</div>
        <div class="value">R’ Refoel Schellemberg<br>R’ Sruly Possick <br> R’ Nosson Mandel</div>
      </div>
    </div>
  </section>
</main>

{% include footer %}

</body>
</html>
